<link rel="stylesheet" href="/css/sidebar.css" />

<!-- vh-100 z-3 position-fixed top-0 start-0 -->
<nav class="sidebar d-flex flex-column">
  <div class="sidebar-header text-center">
    <img src="/images/upatras_logo.gif" alt="University of Patras logo" class="img-fluid" />
    <button class="btn" id="sidebar-toggle" aria-label="Toggle sidebar">
      <i class="bi bi-list" aria-hidden="true"></i>
    </button>
  </div>

  <!-- Add menu entries -->
  <ul class="nav flex-column sidebar-menu">
    <% links.forEach((link) => { %>
    <!-- Prefetch  for performance -->
    <link rel="prefetch" href="<%= link.href %>" />
    <li class="nav-item">
      <a href="<%= link.href %>" class="nav-link d-flex align-items-center <%= page === link.href ? 'active' : ''%>">
        <i class="bi <%= link.icon %> icon me-2" aria-hidden="true"></i>
        <span>
          <%= link.title %>
        </span>
      </a>
    </li>
    <% }); %>
  </ul>

  <ul class="nav flex-column sidebar-footer mt-auto">
    <li class="nav-item">
      <a href="#" class="nav-link d-flex align-items-center">
        <i class="bi bi-gear-fill icon me-2" aria-hidden="true"></i>
        <span>Settings</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link d-flex align-items-center">
        <i class="bi bi-door-open icon me-2" aria-hidden="true"></i>
        <span>Sign Out</span>
      </a>
    </li>
  </ul>
</nav>
